
body{
    padding: 50px;
    display: flex;
    justify-content: center;
    background-color: #053F5C;
    color: #9FE7F5;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 1px;
    font-family: "微軟正黑體",sans-serif;
}
p{
    margin-bottom: 10px;
    margin-top: 0;
}
.cv-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 50px;
}
.name{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 30px;
    line-height: 60px;
    color: #F7AD19;
}
.personal-statement{
    padding-bottom: 40px;
}
.section-title{
    font-size: 30px;
    font-weight: bold;
    color: #F27F0C;
    padding-bottom: 18px;
}
.activity-name{
    font-size: 25px;
    font-weight: bold;
    transition: 0.2s;
    color: #9FE7F5;
    transition: 0.2s;
    line-height: 40px;
}
.activity-name:hover{
    color: #02005B;
    background-color: #9FE7F5;
}
.location{
    font-size: 15px;
    font-style: italic;
}
.time{
    font-size: 12px;
    font-weight:lighter;
    padding-bottom: 10px;
}
.activity-description{
    font-size: 15px;
    padding-bottom: 20px;
    font-weight: lighter;
}
.activity-brief{
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: lighter;
}
.event-list{
    display: grid;
    grid-template-rows: fit-content fit-content fit-content fit-content;
    row-gap: 5px;
}
.event{
    border: solid;
    padding-bottom: 0px;
    height:fit-content;
    padding: 10px;
    display: flex;
    transition: 0.2s;
}
.event:hover{
    background-color: #9FE7F5;
    color:#053F5C;;
}
.event-date{
    width: fit-content;
    border-right: solid;
    padding-right: 20px;
}
.event-name{
    flex-grow: 1;
    padding-left: 10px;
}
.month{
    font-size: 20px;
    padding-left: 10px;
}
.year{
    font-size: 50px;
    text-align: left;
    padding: 10px;
    font-weight: bold;
}
.project-title{
    font-weight: bold;
}
.activity-object{
    padding-bottom: 40px;
}
.project-weight{
    font-weight: normal;
    font-style: italic;
}
.project-description{
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 10px;
    font-weight: lighter;
}
.link{
    text-decoration: none;
    color: #9FE7F5;
}
.image-container img{
    width: 100%;
}
.headshot{
    border-radius:10px;
    margin-bottom: 20px;
}
.section{
    padding-bottom: 30px;
}
.social-grid{
    justify-content:baseline;
    display: grid;
    padding-bottom: 20px;
    column-gap: 20px; 
    row-gap: 20px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 70px);
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-instagram, .fa-twitter, .fa-linkedin{
    background: #F27F0C;
    color: #053F5C;
}
.alignment{
    display: flex;
}
.main-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.design-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: auto;
    column-gap: 20px; 
    row-gap: 20px;
}
.art-images{
    width: 100%;
    display: block;
    transition: 0.5s;
    height: 100%;
}
.art{
    background-color: white;
}
.research-section{
    font-weight: bold;
}
.art-images:hover{
    filter: brightness(50%);
}
.container{
    position: relative;
    text-align: center;
    color: white;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    opacity: 0;
    transition: 0.5s;
    font-size: 15px;
    font-weight: bold;
}
.container:hover .bottom-left{
    opacity: 100;
}
.sub-pages{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 17px;
    padding-top: 10px;
}
.sub-pages:hover{
    background-color: #9FE7F5;
    color:#053F5C;;
}
.top{
    padding-bottom: 30px;
}
